body{
    


background-color: #000000;
color:white;


}
#container{
    height: 100vh;
    margin-top: 150px;
    display:flex;
    justify-content: center;
    align-items:center;
    /* border:2px solid white; */

}
 
header{
    top:0;
    height: 120px;
    font-size: 18px;
    position:fixed;
    background-color: #181818;
    display: flex;
    justify-content: space-evenly;
    border:2px solid white;
    border-radius: 20px;
    width:100%;

    
}
p:hover{
    background-color: #3a3a3a;
}
.formenu{
    position: absolute;
    left:30px;
    top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 20px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3a3a3a;
    height:70px;
    width:80%;
    border:#000000 2px solid;
    border-radius:20px;
    cursor: pointer;
    
} 
.menu:hover{
    background: linear-gradient(135deg, #2c2c2c, #555, #1c1c1c);
}
.menu img{
   
    /* color:black; */
    height:20px;
    width:30px;
}
/* .formenu {
    color:white;
    background-color: rgb(10, 9, 9);
    border: 2px solid white;
    height:3px;
    width:30%;
} */
p{
    margin-top: 40px;
    padding:10px 20px;
   
    
    /* border:white 2px solid; */
    border-radius: 28px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    font-size: 20px;
    cursor: pointer;
    
    
}
.loginclass{
    display: flex;
    justify-content: center;
    align-items: center;    
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
        top: 17%;
        left: 34%;
        border: 2px solid white;
        border-radius: 20px;
        width:30%;
        padding:10px 20px;
        background-color: #2c2c2c;
}
.companylogo:hover{
    
    background:linear-gradient(135deg, #1a96e8, #38bdf8);
    border-radius: 90px;
    margin-top:20px;
    transition: ease-in-out 0.3s;
  
    
}
/* #login{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:45%;
    top:15%;
    text-align: center;
    
    background-color: #283239;
    border:2px solid white;
    font-size: 18px;
    width: 9%;
   
    
    border-radius: 30px;
} */
.welcome{
        margin-top:20px;
        display: flex;
        justify-content: center;
        align-items: center;    
}
h2{

    
    font-family: Arial, sans-serif;
    

   display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    
    
    font-size: 60px;
}
.companylogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.companylogo img{
    height:90px;
    width:90px;
    margin-top:20px;

}
#donthave{
    
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color: #c9c8c6;
}
span:hover{
    color:#4da6ff;
    cursor: pointer;
} 
#mail{
   
    color:white;
    /* text-align: center; */
   font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-bottom: 40px;
    height: 70px;
    width: 80%;
    background-color: #303030;
    border:2px solid black;
    
}
#password{
    /* text-align: center; */
    color:white;
   
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 70px;
    width: 80%;
    background-color: #303030;
    border:2px solid black;
    
}
.loginButton{
    color:white;
   
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 70px;
    width: 80%;
    background-color:rgb(60, 60, 194);
    border-radius: 20px;
    cursor: pointer;

}
.loginButton:hover{
    background-color: #1c86ee;
}

.or-continer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.social{
    display:flex;
    justify-content: space-evenly;
}
.social button{
    height:70px;
    width: 30%;
    
    background-color: #303030;
    cursor: pointer;
    border-radius: 20px;
    border:2px solid black;
}

.google:hover{
     background: linear-gradient(135deg, #4285F4, #34A853, #FBBC05, #EA4335);
}
.apple:hover{
    background: linear-gradient(135deg, #2c2c2c, #555, #1c1c1c);
} 
.twitter:hover{
    background: linear-gradient(135deg, #0f172a, #1e3a8a, #2563eb);

}
.social button img {
    height: 40px;
    width: 40px;
    
}
#box{
    margin-top: 20px;
    /* display: flex;
    flex-direction: column;*/
    text-align: center; 
    
    
   
    background-color: #181818;
    height: 70vh;
    width: 30%;
    border-radius: 20px;
    border:2px solid white;
}
